{% spaceless %}
{% if breadcrumb %}
<div class="breadcrumb">
  {% if breadcrumb|length > 2 %}
      <ol itemtype="http://schema.org/BreadcrumbList" itemscope{{ attributes|without('itemtype', 'itemscope') }}>
      {% for key, item in breadcrumb %}
        {% if item.url %}
          <li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope>
            <a itemprop="item" href="{{ item.url }}"><span itemprop="name">{{ item.text }}</span></a>
            <meta itemprop="position" content="{{ key + 1 }}">
          </li>
        {% else %}
          <li class="breadcrumb-nolink">{{ item.text }}</li>
        {% endif %}
      {% endfor %}
  {% else %}
    <ol{{ attributes|without('itemprop') }}>
    {% for key, item in breadcrumb %}
      {% if item.url %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% else %}
        <li class="breadcrumb-nolink">{{ item.text }}</li>
      {% endif %}
    {% endfor %}
  {% endif %}
    </ol>
</div>
{% endif %}
{% endspaceless %}
